.mainTitle {
    margin: 0 0 30px;

    h1 {
        color:  #9F9C9E;
        font-size: 30px;
        font-weight: 100;

        span {
            font-weight: bold;
            font-size: 40px;
        }
    }
}

.movieThumbContainer {

    .movieThumb {
        background-color: white;
        @include row-machine(3, 2%);
        border-radius: 5px;
        float: left;

        .title {
            border-bottom: 1px solid  #f1f1f1;
            padding: 20px;

            .button-group {
                display: inline-block;
            }

            .button-group {
                float: right;

                button {
                    color: white;
                    background-color: #15BA63;
                    border: none;
                    padding: 6px;
                    margin-right: 8px;
                    border-radius: 50%;
                    float: left;
                    font-weight: bold;

                    &.button-delete {
                        background-color: #E9483E ;
                    }

                    &.button-collapse {
                        background-color: #FCD521;
                    }
                }
            }
        }

        .text {
            padding: 0 0 20px 0;
            min-height: 190px;

            .movie-image {
                width: 100%;
                padding-top: 50%;
                margin: 0 0 20px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }

            .content {
                padding: 0 20px;

                h2 {
                    font-size: 20px;
                    margin: 0 0 10px;
                    font-weight: bold;
                    line-height: 1;
                }

                p {
                    color: #535250;
                    line-height: 1.7;
                }
            }
        }

        @include breakpoint('small') {
            @include row-machine(1,0%);
            margin-bottom: 5% !important;
        }
    }
}
