@mixin breakpoint($breakpoint) {
    $value: map-get($breakpoints, $breakpoint);
    @if ($value !=null) {
        $breakpoint: $value;
    }
    @if (type-of($breakpoint)=='number') {
        @media screen and (max-width: #{$breakpoint}px) {
            @content;
        }
    } @else {
        @media #{$breakpoint} {
            @content;
        }
    }
}

@mixin vertical-align-parent() {
    transform-style: preserve-3d;
}

@mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    transform: translateY(-50%);
}

// Covert px to em
@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1em;
}

// Fluid Grid
@mixin row-machine($num-per-row, $margin) {
    width: ((100% - (($num-per-row - 1) * $margin)) / $num-per-row);

    &:nth-child(n) {
        margin-bottom: $margin;
        margin-right: $margin;
    }

    &:nth-child(#{$num-per-row}n) {
        margin-bottom: 0;
        margin-right: 0;
    }
}
