/* ==========================================================================
   Typography
   ========================================================================== */

/* Sizes
  ========================================================================== */

p {
   line-height: 1.5;

   &:not(:last-of-type) {
       margin: 0 0 20px;
   }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

/* Style
  ========================================================================== */

strong {
   font-weight: bold;
}

.caps {
   text-transform: uppercase;
}

.text-right {
   text-align: right;
}

.text-left {
   text-align: left;
}
