/* ==========================================================================
   Variables
   ========================================================================== */

/* Font Families
   ========================================================================== */
$base-font-size: 16px;
$main-font: 'Lato', sans-serif;;

/* Colors
   ========================================================================== */

$base: #2e2a25;

/* ==========================================================================
   Breakpoints
   ========================================================================== */

$breakpoints: (
    'x-small' : 480,
    'small' : 768,
    'medium' : 992,
    'large' : 1200
);

/* Icons
   ========================================================================== */
