<!-- <div class="jumbotron">
    <div class="container">
        <h1>Movie Review</h1>
        <p>{{ main.loggedInUser.firstname + ' ' + main.loggedInUser.lastname}} is logged in!</p>
    </div>
</div> -->

<section id="movieListSection">
    <div class="container-fluid">
        <div class="mainTitle cf">
            <h1><span>Google</span> Movies</h1>
            <p>Mansfield - Cinemark 14</p>
        </div>
        <div class="movieThumbContainer cf equal">
            <div class="movieThumb" ng-repeat="movie in main.movies">
                <div class="title cf">
                    <div class="button-group cf">
                        <button class="" ng-click="main.editMovie(movie)"></button>
                        <button class="button-collapse" ng-click="main.collapseDescription(movie);"></button>
                        <button class="button-delete" ng-click="main.deleteMovie(movie)"></button>
                    </div>
                </div>
                <div class="text" ng-hide="main.collapse">
                    <div class="movie-image" style="background-image: url('../images/{{ movie.image  }}')"></div>

                    <div class="content">
                        <h2>{{ movie.title }}</h2>
                        <p>{{ movie.description }}</p> <br>

                        <div class="stars">
                        </div>
                    </div>
                    <!-- {{ movie.rating }} <br><br> -->
                </div>
            </div>
        </div>
    </div>
</section>

<section id="addMovieSection" class="hide">
    <div class="container-fluid">
        <div class="page-header">
            <h1>Add Movie</h1>
        </div>

        <form ng-submit="main.addMovie()">
            <div class="form-group">
                <label for="">Title</label>
                <input type="text" class="form-control" ng-model="main.newMovie.title">
            </div>

            <div class="form-group">
                <label for="">Description</label>
                <textarea name="" id="" cols="30" rows="10" class="form-control" ng-model="main.newMovie.description"></textarea>
            </div>

            <div class="form-group">
                <label for="">Rating</label>
                <select name="" class="form-control" ng-model="main.newMovie.rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>

            <button type="submit">Add</button> <br><br>
        </form>
    </div>
</section>

